/* var */
@mixin sp {
    @media screen and (max-width: 750px) {
        @content
    }
}

@mixin sectionSize($space: 100vh) {
    height: $space;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* common */
html {
    font-size: 140%;
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.5rem;
    color: #333;

    @include sp {
        font-size: 100%;
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.sectionTitle {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    margin-bottom: 50px;
    font-size: 2rem;
}

.wrapper {
    max-width: 980px;
    padding: 0 10%;
    margin: 0 auto;
    text-align: center;
}

/* siteTitle */
#siteTitle {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4%;
}

/* welcome */
#welcome {
    @include sectionSize;

    #picture1 {
        margin-top: 30px;
    }
}

/* aboutMe */
#aboutMe {
    @include sectionSize;

    li {
        margin: 1em 0;
    }
}

/* footer */
#wrapperLink {
    @include sectionSize(90vh);

    h2 {
        margin-bottom: 60px;

        @include sp {
            margin-bottom: 50px;
        }
    }

    #link {

        display: flex;
        justify-content: space-around;

        @include sp {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        li {
            width: 150px;
            padding: 30px;
            background-color: #fafafa;
            border-radius: 50%;
            margin-right: 20px;
            transition-property: opacity;
            transition-duration: 0.2s;

            @include sp {
                margin-right: 0;
                margin-bottom: 50px;
                width: 110px;
                padding: 20px;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                opacity: 0.5;
            }
        }
    }
}

#copyRight {
    font-size: 0.55rem;
    opacity: 0.5;
}