/* var */
$sectionSpace: 250px;

/* common */
html {
    font-size: 140%;
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.5rem;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.sectionTitle {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    line-height: 2em;
    font-size: 2rem;
}

.wrapper {
    max-width: 980px;
    padding: 0 5%;
    margin: 0 auto;
    text-align: center;
}

/* siteTitle */
#siteTitle {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4%;
}